.pure-g {
	display: -webkit-flex;
    -webkit-flex-flow: row wrap;
}

.pure-u-1 {
	display: inline-block;
}

.pure-u-1-4 {
    width: 25%;
    *width: 24.9690%;
}

.pure-u-3-4 {
    width: 75%;
    *width: 24.9690%;
}

.header {
    text-align: center;
    top: auto;
    margin: 3em auto;
}

.brand-title,
.brand-tagline {
    margin: 0;
}
.brand-title {
    text-transform: uppercase;
}
.sidebar {
    background: rgb(61, 79, 93);
    color: #fff;
}

.nav-list {
    margin: 0;
    padding: 0;
    list-style: none; /*去掉list的编号*/
}

.nav-item {
    display: inline-block; /*list一般是上下排列，改成左右排列*/
    *display: inline;
    zoom: 1;
}

/*按钮的结构*/
.pure-button {
    /* Structure */
    display: inline-block;
    zoom: 1;
    line-height: normal;
    white-space: nowrap;
    vertical-align: middle;
    text-align: center;
    cursor: pointer;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.pure-button {
    font-family: inherit;
    font-size: 100%;
    padding: 0.5em 1em;
    color: #444; /* rgba not supported (IE 8) */
    color: rgba(0, 0, 0, 0.80); /* rgba supported */
    border: 1px solid #999;  /*IE 6/7/8*/
    border: none rgba(0, 0, 0, 0);  /*IE9 + everything else*/
    background-color: #E6E6E6;
    text-decoration: none;
    border-radius: 2px;
}
#layout {
    padding: 0;
}



/*@media (min-width: 48em) {*/
    /*.content {
        padding: 2em 3em 0;
        margin-left: 25%;
    }*/

   /* .header {
        margin: 100% 2em 0;
        text-align: right;
    }*/

  /*  .sidebar {
        position: fixed;
        top: 0;
        bottom: 0;
    }*/
/*}*/

.content-subhead {
    text-transform: uppercase;
    color: #aaa;
    border-bottom: 1px solid #eee; /*底部有根下划线*/
    padding: 0.4em 0;
    font-size: 80%;
    font-weight: 500;
    letter-spacing: 0.1em;
}

.post-avatar {
    border-radius: 50px;
    float: right;
    margin-left: 1em;
}

.pure-u-1-2,
.pure-u-12-24 {
    width: 50%;
    *width: 49.9690%;
}

.post-category {
    margin: 0 0.1em;
    padding: 0.3em 1em;
    color: #fff;
    background: #999;
    font-size: 80%;
    user-select: none;
}

 .post-category-design {
        background: #5aba59;
    }

    a {
    text-decoration: none; /*去掉下划线*/
    color: rgb(61, 146, 201);
}

.pure-menu {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.pure-menu-horizontal {
    width: 100%;
    white-space: nowrap;
}

.pure-menu-horizontal .pure-menu-list {
    display: inline-block;
}

/* Initial menus should be inline-block so that they are horizontal */
.pure-menu-horizontal .pure-menu-item,
.pure-menu-horizontal .pure-menu-heading,
.pure-menu-horizontal .pure-menu-separator {
    display: inline-block;
    *display: inline;
    zoom: 1;
    vertical-align: middle;
}

.footer {
    text-align: center; /*让里面的li 水平居中*/
    padding: 0em 0;
}
.footer a {
    color: #ccc;
    font-size: 80%;
}
.footer .pure-menu a:hover,
.footer .pure-menu a:focus {
    background: none;
}

 .header {
        margin: 60% 0 0;
       /* text-align: right;*/
    }
.sidebar {
        position: fixed; /*鼠标在上面无法滚动*/
        top: 0;
        bottom: 0;
    }
