.pure-menu {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.pure-menu-horizontal {
    width: 100%;
    white-space: nowrap;
}

.pure-menu-horizontal .pure-menu-list {
    display: inline-block;
}

/* Initial menus should be inline-block so that they are horizontal */
.pure-menu-horizontal .pure-menu-item,
.pure-menu-horizontal .pure-menu-heading,
.pure-menu-horizontal .pure-menu-separator {
    display: inline-block;
    *display: inline;
    zoom: 1;
    vertical-align: middle;
}

a {
    text-decoration: none; /*去掉下划线*/
    color: rgb(61, 146, 201);
}

.pure-g {
    display: -webkit-flex;
    -webkit-flex-flow: row wrap;
}

.pure-u-1-4 {
    width: 25%;
    *width: 24.9690%;
}



.pure-u-3-4 {
    width: 75%;
    *width: 24.9690%;
}

.pure-u-1-3 {
    width: 33.333%;
}

.photo-box, .text-box {
    overflow: hidden; 
    position: relative; /*让说明文字在右下角*/
    height: 250px;
    text-align: center;
}

.photo-box img {
        max-width: 100%; /*缩放图片到框的大小*/
       /* height: auto;*/
        min-height: 250px;
    }

.photo-box aside {
        position: absolute; 
        bottom: 0; /*放到又下角*/
        right: 0;
        padding: 1em 0.5em;
        color: white;
        width: 100%;
        font-size: 80%;
        text-align: right;
        background: -moz-linear-gradient(top,  rgba(16,27,30,0) 0%, rgba(12,2,2,1) 90%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(16,27,30,0)), color-stop(90%,rgba(12,2,2,1))); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top,  rgba(16,27,30,0) 0%,rgba(12,2,2,1) 90%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top,  rgba(16,27,30,0) 0%,rgba(12,2,2,1) 90%); /* Opera 11.10+ */
        background: -ms-linear-gradient(top,  rgba(16,27,30,0) 0%,rgba(12,2,2,1) 90%); /* IE10+ */
        background: linear-gradient(to bottom,  rgba(16,27,30,0) 0%,rgba(12,2,2,1) 90%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00101b1e', endColorstr='#0c0202',GradientType=0 ); /* IE6-9 */

    }

.form-box {
    text-align: center;
    font-size: 120%;
    border-bottom: 1px solid #eee;
}

.pure-u-1,
.pure-u-1-1,
.pure-u-5-5,
.pure-u-24-24 {
    width: 100%;
}

.pure-form input[type="text"],
.pure-form input[type="password"],
.pure-form input[type="email"],
.pure-form input[type="url"],
.pure-form input[type="date"],
.pure-form input[type="month"],
.pure-form input[type="time"],
.pure-form input[type="datetime"],
.pure-form input[type="datetime-local"],
.pure-form input[type="week"],
.pure-form input[type="number"],
.pure-form input[type="search"],
.pure-form input[type="tel"],
.pure-form input[type="color"],
.pure-form select,
.pure-form textarea {
    padding: 0.8em 0.8em; /*让输入框变大*/
    display: inline-block;
    border: 1px solid #ccc;
    box-shadow: inset 0 1px 3px #ddd;
    border-radius: 4px;
    vertical-align: middle;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.pure-control-group label {
    /*text-align: right;*/
    display: inline-block; /*这个display模式才会让width生效，否则width根据文字多少来计算宽度*/
    /*vertical-align: middle;*/
    width: 200px;
    margin: 0 1em 0 0;
}

.pure-controls {
    margin: 1.5em 0 0 200px; /*让按钮等排在第二列，所以margin-left要跟第一列一样宽*/
}

.pure-checkbox,
{
    margin: 0.5em 0;
    display: block; /*让这个元素占用一行*/
}

.pure-form .pure-group fieldset {
    margin-bottom: 10px;
}
.pure-form .pure-group input,
.pure-form .pure-group textarea {
    display: block;
    padding: 10px;
    margin: 0 0 -1px;
    border-radius: 0;
   /* position: relative;
    top: -1px;*/
}

/*audio*/
audio:not([controls]) {
  display: none;
  height: 0;
}


/*只要有hidden属性就隐藏*/
[hidden] {
  display: none;
}

[pure-u-1-4] {
    width: 25%;
    *width: 24.9690%;
}

a:active,
a:hover {
  outline: 10;
  color:red;
}

/*只有可是取悦大于880时才是红色*/
@media  (min-width : 880px) {
    /*<a test='hello'*/
a[test='hello'] {
    color:red;
}
}

.button {
    position: absolute;
    top: 50%;
}